.header {
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.8rem;
}
.container {
}
.sitelogo {
}
.header__sitelogo {
}
.dark-btn {
}
.btn {
}
