.btn {
  padding: 1.4rem 4.5rem;
  border-radius: 28px;
  color: #fff7f0;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border: none;
}
.dark-btn {
  background-color: $dark-color;
}
.dark-btn:hover {
  background-color: $dark-purple-color;
}
.pink-btn {
  background-color: $pink-color;
}

.pink-btn:hover {
  background-color: $orange-color;
}
