$purple-color: #755cde;
$orange-color: #f6a560;
$pink-color: #f39e9e;
$dark-pink-color: #eb7565;
$aqua-color: #61c4b7;
$dark-purple-color: #552049;
$dark-color: #030303;
$grey-color: #7a746e;
$white-color: #fff7f0;

$font-ff: "Plus Jakarta Sans", sans-serif;
